*{
  
   margin: 0;
   padding: 0;     
}

body{

     background-color: whitesmoke;
}

header{
     background-color: whitesmoke;
     width: 100%;
     height: 250px;
}

.head{

       display: flex;
       flex-direction: column;
       margin-left: 450px;
       padding-top: 30px;
}

.one{

     font-size: 28px;
     margin-left: 170px;
     margin-top: 10px;
}

.two{

      font-size: 20px;
      margin-top: 30px;
      margin-left: 20px;
}

.third{
      font-size: 25px;
      display: flex;
      margin-top: 40px;
}

.empty{
      border:2px solid black;
      background-color: white;
      width: 550px;
}
.apply{

       border: 2px solid orangered;
       background-color: orangered;
       width: 100px;
}

.contain{

     background-color: palegreen;
     display: flex;
     justify-content: space-evenly;
     margin-top: 50px;
}

img{
      border: 5px solid palegreen;
      border-radius: 50%;
      width: 30px;
      height: 30px;
}

.new{

     font-size: 27px;
}

.a1{

    font-size: 20px;
}


.sub{

     font-size: 17px;
     margin-top: 10px;
}

.last{

       margin-top: 15px;
}

.sec{

       display: flex;
       flex-direction: column;
       font-size: 18px;  
    }

.a2{

     margin-top: 15px;
     margin-left: 5px;
}   

.image{
     display: flex;
     justify-content: space-evenly;
     margin-top: 15px;
}

.copy{
     
     text-align: center;
     font-size: 18px;
     margin-top: 70px;
}

footer{

      border: 5px solid palegreen;
      margin-top: 188px;
      background-color: palegreen;
}